@font-face {
    font-family: 'Coolvetica';
    src: url('../../vendor/fonts/coolvetica.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

h1 {
    margin: 0;
}

html {
    background-color: #ffffff;
    color: #000;
    font-family: 'Segoe UI', sans-serif;
    font-size: 10px;
    font-weight: 300;
}

.clearfix {
    zoom: 1
}

aside {
    position: relative;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.main_row {
    max-width: 90%;
    margin: 0 auto;
    /* overflow: hidden; */
}

/* Header css rules */

header {
    position: relative;
}

.header__top-container {
    /* position: fixed; */
    width: 100%;
    z-index: 30;
    background: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 1280px) {
    .header__input-container {
        display: none;
    }
}

.header__resp-menu-search-bar-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
}

@media only screen and (max-width: 1280px) {
    .header__resp-menu-search-bar-container {
        display: flex;
    }
}

.header__resp_menu-btn-submit {
    cursor: pointer;
    width: 45px;
    border: none;
    background: url(../img/afiaanyi-search-bar.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 9px 0;
}

.header__resp_menu-search-container {
    width: 75%;
    background: #FFF;
    border-radius: 4px;
    display: flex;
    background: #FCFCFC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

@media only screen and (max-width: 500px) {
    .header__resp_menu-search-container {
        width: 85%;
    }
}

.header__menu-link-icon {
    width: 10px;
    height: 10px;
}

.header__menu_icon {
    margin-left: 32px;
    display: none;
}

@media only screen and (max-width: 885px) {
    .header__menu_icon {
        display: block;
    }
    .header__main-menu-items {
        display: none;
    }
}

.header__resp_menu-search {
    width: 90%;
    padding: 9px 16px 9px 0px;
    font-size: 14px;
    border: none;
    font-family: Montserrat;
    background: transparent;
}

nav {
    width: 100%;
}

@media only screen and (max-width: 1280px) {
    nav {
        height: auto;
        margin-bottom: 12px;
    }
}

.header__logo {
    height: 90px;
    width: 90px;
}

.header__form-input {
    padding: 8px 13px;
    border: 1px solid #d8b027;
    border-radius: 4px 0 0 4px;
    width: 304px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}

.header__submit {
    padding: 8px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #d8b027;
    background-color: #d8b027;
    background-image: url(../img/search.png);
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}

.header__input-nav {
    float: left;
}

.header__customized-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
}

.header__form-input::placeholder {
    font-family: 'Montserrat';
    font-size: 11px;
    color: #000;
    font-weight: 500;
}

.header__nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__nav-list-container {
    list-style: none;
}

.header__nav-list {
    display: inline-block;
    text-decoration: none;
    margin: 0px 4px;
}

.header__nav-link:link, .header__nav-link:visited {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    margin-right: inherit;
    font-weight: 500;
}

.header__nav-link:hover {
    color: #CAAA3B;
}

.header--outlined {
    border: 1px solid #CAAA3B;
    padding: 8px 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.header--outlined:hover {
    color: white;
    background: #CAAA3B;
}

.header__avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__side-list {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.header__nav__list {
    text-decoration: none;
    font-family: Monserrat;
    padding: 0 17px;
}

.header-nav-icon {
    margin-left: 12px;
}

.header__username {
    color: red;
}

.header__greeting {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
}

@media only screen and (max-width: 500px) {
    .header__greeting {
        display: none;
    }
}

.header__full-nav-list:hover .dropdown__header, .header__full-nav-link:hover .dropdown__header {
    display: block;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.cart__label {
    margin-right: -10px;
    width: 12px;
    height: 12px;
    background: red;
    font-weight: 500;
    font-size: 8px;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translate(-70%, -50%);
    -webkit-transform: translate(-70%, -50%);
    -moz-transform: translate(-70%, -50%);
    -ms-transform: translate(-70%, -50%);
    -o-transform: translate(-70%, -50%);
    top: -1em;
}

.drop-down__content {
    display: flex;
    padding: 9px 17px;
    justify-content: space-around;
}

.drop-drop__list-title {
    color: #000;
    margin: 0;
    font-weight: 500;
}

.drop-down__content li {
    list-style: none;
}

.drop-down__content li a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    white-space: nowrap;
    line-height: 18px;
}

.drop-down__content li a:hover {
    color: #E6B712;
}

.drop-down__content ul {
    padding-left: 12px;
    border-left: 1px dotted #E6B712;
}

.drop-down__content h4 {
    font-size: 12px;
    padding-top: 7px;
    line-height: 26px;
    white-space: nowrap;
    text-transform: uppercase;
}

.drop-down__column {
    padding: 0px 18px;
}

.header__full-nav {
    list-style: none;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* min-width: 1280px; */
}

.header__full-nav-list {
    position: relative;
    padding: 15px 0;
}

.header__full-nav-link:link, .header__full-nav-link:visited {
    text-decoration: none;
    color: #000;
    padding: 14px 0;
    font-size: 13px;
    font-weight: normal;
    word-spacing: -1px
}

.full--nav {
    position: relative;
}

/* drop down css rules */

.dropdown__header {
    padding: 0 15px 26px 15px;
    position: absolute;
    z-index: 500;
    top: 100%;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
    background: #fff;
    color: black;
    border-top: 2px solid #E6B712;
    display: none;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
}

.dropdown__header--phone, .dropdown__header--computing, .dropdown__header--fashion {
    left: 0%;
}

.dropdown__header--gaming {
    left: -180%;
}

.dropdown__header--grocery {
    left: -300%;
}

.dropdown__header--sport {
    right: 0;
}

.dropdown__header--toys {
    left: -250%;
}

.dropdown__header--toys {
    left: -250%;
}

.dropdown__header--impr {
    right: 0;
}

.dropdown__header--categories {
    right: 0%
}

.header__triangle {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .header__full-nav {
        margin-left: -25px;
        flex-direction: column;
        align-items: flex-start;
        display: inline-flex;
        padding: 16px 16px 16px 26px;
        background: #FFFFFF;
        position: absolute;
        z-index: 20;
        margin-top: 26px;
        box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
    }
    .header__triangle {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: -31px;
        border: 16px solid transparent;
        border-color: #fff transparent transparent transparent;
        transform: rotate(180deg);
        transform-origin: center;
    }
    .header__full-nav-list {
        padding: 10px 0;
        width: 220px;
        position: unset;
    }
    .header__full-nav-link:link, .header__full-nav-link:visited {
        padding: 10px 0;
        font-size: 14px;
        font-weight: 500;
        word-spacing: 1px
    }
    .header__resp_menu-button-container {
        position: relative;
    }
    .full--nav {
        display: none;
    }
    .header__resp_menu-button-container:hover .full--nav {
        display: block;
    }
    .header__drp-arrow {
        float: right;
        width: 9px;
        transform: rotate(-90deg);
        transform-origin: center;
        margin-top: 4px;
    }
    div.dropdown__header {
        left: 265px;
        top: 0;
        right: unset;
    }
}

@media only screen and (max-width: 1100px) {
    .header__resp_menu-button-container:hover .full--nav {
        display: none !important;
    }
}

.hero-ad-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.hero {
    position: relative;
    width: 82.7%;
}

@media only screen and (max-width: 1120px) {
    .hero {
        width: 100%;
    }
}

.hero--text {
    font-family: coolvetica, sans-serif;
    color: #fff;
    line-height: 6rem;
    position: absolute;
    font-size: 5rem;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media only screen and (max-width: 780px) {
    .hero--text {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media only screen and (max-width: 520px) {
    .hero--text {
        font-size: 3rem;
        line-height: 3rem;
    }
}

.legend__controller {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 115px;
    height: 18px;
    background: rgba(0, 0, 0, .5);
    left: 50%;
    bottom: 5%;
    border-radius: 4px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.legend {
    height: 10px;
    width: 10px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.legend--active {
    background: #fff;
}

.slide--market {
    height: 410px;
    width: 80%;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../img/market-header.svg);
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 860px) {
    .slide--market {
        height: 380px;
    }
}

@media only screen and (max-width: 600px) {
    .slide--market {
        height: 340px;
    }
}

/* 
.slides {
    position: relative;
    width: 78%;
} */

.slider__container {
    position: relative;
    display: flex;
    width: 500%;
    left: -100%;
    overflow: hidden;
}

.slider__outer-cont {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pause, .play {
    display: block;
    cursor: pointer;
}

.hero__slider-nav {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.hero__slider-nav--left {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.hero__slider-nav--left, .hero__slider-nav {
    cursor: pointer;
    height: 67px;
}

.advert-space {
    height: 410px;
    width: 17%;
}

@media only screen and (max-width: 1120px) {
    .advert-space {
        display: none;
    }
}

.advert-space__upper-division {
    height: 160px;
    background: #FCFCFC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    margin-bottom: 6px;
}

.advert-space__upper-division p {
    font-weight: 500;
    border-bottom: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 39px;
}

.advert-space__upper-division p img {
    margin-right: 8px;
}

.advert-space__lower-division {
    height: 244px;
}

.advert-space__lower-division img {
    height: 100%;
    width: 100%;
}

.featured-brands {
    background: #FCFCFC;
}

.featured-brands__header {
    text-align: center;
    font-size: 27px;
    color: #33333A;
    padding: 27px 0 20px 0;
    font-weight: 400;
}

.featured-brands__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.feautured-brands__content {
    flex-direction: center;
    text-align: center;
    height: 270px;
    padding: 8px;
    position: relative;
    width: 18%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.featured-brands__one {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url(../css/img/apartment-3564955_1920.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.featured-brands__two {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 0.29%, rgba(0, 0, 0, 0.3)), url(../img/brick.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.featured-brands__three {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 0.29%, rgba(0, 0, 0, 0.3)), url(../img/motors.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.featured-brands__four {
    background: linear-gradient(0.53deg, rgba(230, 183, 18, 0.77) 0.29%, rgba(0, 0, 0, 0.5) 99.5%), url(../img/settings.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.featured-brands__five {
    background: linear-gradient(0.53deg, rgba(106, 177, 117, 0.77) 0.29%, rgba(106, 177, 117, 0) 99.5%), url(../img/tech.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1280px) {
    .feautured-brands__content {
        width: 24%;
    }
    .featured-brands__five {
        display: none;
    }
}

@media only screen and (max-width: 920px) {
    .feautured-brands__content {
        width: 32%;
    }
    .featured-brands__four {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .feautured-brands__content {
        width: 49%;
    }
    .featured-brands__three {
        display: none;
    }
}

@media only screen and (max-width: 380px) {
    .feautured-brands__content {
        width: 80%;
        margin: 0 10%;
    }
    .featured-brands__two {
        display: none;
    }
}

@media only screen and (max-width: 330px) {
    .feautured-brands__content {
        width: 100%;
        margin: 0 0%;
    }
    .featured-brands__two {
        display: none;
    }
}

.feautured-brands__content div h5 {
    margin-bottom: 8px;
    font-size: 2.125rem;
    color: #fff;
    font-weight: 600;
}

.feautured-brands__content div p {
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
    font-family: "Poppins";
}

.btn {
    padding: 10px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 600;
    border: none;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
}

.btn--repositioned {
    display: block;
    position: absolute;
    font-family: 10px;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.btn--hero {
    font-family: coolvetica, sans-serif;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #fff;
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 22px;
}

.featured-brands__text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.featured-brands__text h5 p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 13px;
}

.market__roll--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 25px 0;
}

@media only screen and (max-width: 760px) {
    .market__roll--wrapper {
        padding: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .market__roll--wrapper {
        display: block;
    }
}

.market__ad {
    width: 18%;
    margin-right: 2%;
}

@media only screen and (max-width: 1280px) {
    .market__ad {
        width: 25%;
    }
}

@media only screen and (max-width: 980px) {
    .market__ad {
        width: 34%;
    }
}

@media only screen and (max-width: 760px) {
    .market__ad {
        width: 80%;
    }
}

.market__ad img {
    width: 100%;
}

.market__product-wrapper {
    overflow-x: hidden;
    width: 80%;
    position: relative;
    padding-left: 1.4%;
    padding-right: 1.6%
}

@media only screen and (max-width: 760px) {
    .market__product-wrapper {
        width: 100%;
    }
}

.product__card {
    position: relative;
    background: #fcfcfc;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.product__card:hover {
    z-index: 3;
}

@media only screen and (min-width: 1190px) {
    .product__card:hover .img__overlay {
        filter: brightness(.4);
        -webkit-filter: brightness(.4);
    }
}

.product-modal {
    display: none;
}

@media only screen and (min-width: 1190px) {
    .product__card:hover .product-modal {
        display: flex;
        justify-content: center;
        top: 20%;
        position: absolute;
        width: 100%;
        z-index: 7;
    }
}

.product-modal button {
    padding: 7px 13px;
    box-shadow: none;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    border: none;
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

button:focus {
    outline: none;
}

.product-image {
    position: relative;
    height: 60%;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    position: relative;
}

.brand__name {
    font-size: 0.9rem;
    line-height: 2rem;
}

.ratings-numbers {
    display: flex;
    justify-content: space-between;
    margin-left: -3px;
}

.badge__new {
    height: 14px;
    width: 26px;
    font-size: 8px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F30000;
    border-radius: 2px;
    color: white;
}

.full__brand-name {
    line-height: 1.8rem;
    font-weight: 700;
}

.price-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    box-shadow: none;
    /* background: transparent; */
    border: none;
    border-top: 2px solid #ccc;
}

.price, .percentage__off, .full__brand-name {
    font-size: 12px;
    margin: 10px 0;
    color: #000;
    font-weight: 500;
}

.product__card--col .product__card--col .price, .percentage__off, .full__brand-name {
    margin: 6px 0;
}

.full__brand-name {
    line-height: 1.8rem;
    font-weight: 700;
}

.ratings img:first-child {
    margin-left: -2px;
}

.percentage__off {
    border: 1px solid #CAAA3B;
}

.paper {
    padding: 13px;
}

@media only screen and (max-width: 500px) {
    .paper {
        padding: 8px;
    }
    .sliderContainer {
        margin-top: 16px;
    }
}

.badge__new-container {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
}

.full__brand-name {
    line-height: 1.8rem;
    font-weight: 700;
}

.percentage__off {
    padding: 3px;
}

.price, .percentage__off, .full__brand-name {
    font-size: 12px;
    margin: 4px 0;
    color: #000;
}

.slider__prev, .slider__prev_two, .slider__prev_three {
    position: absolute;
    z-index: 9;
    width: 14px;
    left: -2px;
    top: 50%;
    cursor: pointer;
}

.slider__next, .slider__next_two {
    position: absolute;
    z-index: 9;
    right: 0px;
    width: 14px;
    top: 50%;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .slider__next, .slider__next_two, .slider__prev, .slider__prev_two, .slider__prev_three {
        width: 12px;
    }
}

.slider__prev_two {
    margin-left: 1px;
}

.slider__next_two {
    /* margin-right: 0px */
}

.slider__prev_two, .slider__next_two {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.market__nav-title {
    font-family: Segoe UI;
    line-height: 20px;
    font-size: 13px;
    border-radius: 8px 8px 0 0;
    font-weight: 500;
    color: white;
    height: 74px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #C4C4C4 13.75%, rgba(65, 64, 64, 0.5) 93.43%);
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
}

.market__nav-title--blue {
    background: rgba(59, 89, 152, 0.8);
}

.market__nav-title--black {
    color: black;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    font-weight: 600;
    background: #fcfcfc;
}

.market__nav {
    width: 19%;
    margin-right: 2.5%;
    border-radius: 8px;
    background: white;
    /* background: linear-gradient(90deg, #C4C4C4 13.75%, rgba(65, 64, 64, 0.5) 93.43%); */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-right: 1px solid rgba(65, 64, 64, 0.5);
    border-bottom: 1px solid rgba(65, 64, 64, 0.5);
}

@media only screen and (max-width: 1280px) {
    .market__nav {
        width: 25%;
    }
}

@media only screen and (max-width: 980px) {
    .market__nav {
        width: 34%;
    }
}

@media only screen and (max-width: 760px) {
    .market__nav {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .market__nav {
        display: none;
    }
}

.market__nav--list-container {
    background: #ffffff;
    width: 98%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.market__nav-list {
    list-style: none;
    padding: 0 14px;
}

.market__nav-link, .market__nav-visited {
    color: #000;
    text-decoration: none;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.market__nav-plain .market__nav-link {
    line-height: 16px;
    padding: 5px 0 0 28px;
}

.market__nav-plain .market__nav-link--title {
    padding-left: 13px
}

.market__nav-link {
    font-size: 11px;
}

.market__nav-link--title {
    font-weight: 700;
    text-transform: uppercase;
}

.market__nav-link:hover {
    padding-left: 12px;
    color: #E6B712;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.market__nav-plain .market__nav-link:hover {
    padding: 5px 0 0 28px;
}

.market__nav-plain .market__nav-link--title:hover {
    padding-left: 13px
}

.market-brand__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 83%;
}

.market__nav--second-row {
    background: white;
    width: 26%;
    margin-right: 0;
    padding-bottom: 1px;
    border-right: 2px solid rgba(59, 89, 152, 0.8);
    border-bottom: 2px solid rgba(59, 89, 152, 0.8);
}

@media only screen and (max-width: 1100px) {
    .market__nav--second-row {
        width: 47%;
    }
}

@media only screen and (max-width: 980px) {
    .market__nav--second-row {
        width: 95%
    }
}

.market__nav--third-row {
    border-right: 2px solid #B7B360;
    border-bottom: 2px solid #B7B360;
}

.market__nav--fourth-row {
    border-right: 2px solid #F300E9;
    border-bottom: 2px solid #F300E9;
}

.market__nav-plain {
    background: #fff;
    border: 1px solid #c4c4c4;
}

@media only screen and (max-width: 980px) {
    .market__nav-plain {
        display: none;
    }
}

.market__nav-outer-container {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

/* @media only screen and (max-width: 1280px) {
    .market__nav-outer-container {
        width: 100%;
    }
} */

@media only screen and (max-width: 1280px) {
    .market__nav-outer-container {
        width: 206%;
    }
}

@media only screen and (max-width: 1100px) {
    .market__nav-outer-container {
        width: 68%;
    }
}

@media only screen and (max-width: 980px) {
    .market__nav-outer-container {
        width: 100%;
    }
}

@media only screen and (max-width: 760px) {
    .market__nav-outer-container {
        width: 200%;
    }
}

.market_nav_inner__container {
    padding-bottom: 10px;
}

.market__nav--list-container-two {
    padding-top: 27px;
    padding-bottom: 11px;
}

.market_ad_cont {
    width: 45%;
    display: flex;
    align-items: flex-start;
}

@media only screen and (max-width: 1100px) {
    .market_ad_cont {
        display: none;
    }
}

.market_ad_cont a {
    width: 100%;
    height: 100%;
}

.market_ad_cont img {
    width: 100%;
    height: 100%;
    margin-left: 5%;
}

.market__product-wrapper--col {
    width: 40%;
    overflow: hidden;
    padding: 0 .71%;
    position: relative;
}

@media only screen and (max-width: 1280px) {
    .market__product-wrapper--col {
        width: 70%;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 980px) {
    .market__product-wrapper--col {
        width: 231%;
    }
}

.product__card--col {
    width: 100%;
    background: #fcfcfc;
}

/* .col_wrapper_inner--three .product__card--col:nth-child(1) {} */

/*rules for slider */

.market_product_slider_wrapper, .market_product_slider_wrapper--two {
    /* display: flex; */
    position: relative;
}

.col_wrapper_inner_container {
    display: flex;
    left: -50%;
    position: relative;
    width: 150%;
}

.col_wrapper_inner {
    padding: 0 1.66%;
    width: 100%;
}

.col_wrapper_inner--two {
    padding: 0 1.66%;
    width: 50%;
}

@media only screen and (max-width: 1280px) {
    .col_wrapper_inner--two {
        padding: 0 3.66%;
    }
    .col_wrapper_inner {
        padding: 0 3.66%;
    }
}

section {
    background: #fcfcfc;
}

section.col {
    margin-top: 2%;
    padding: 10px 0;
}

.col_wrapper_inner_container--two, .col_wrapper_inner_container--three {
    display: flex;
    position: relative;
    align-items: center;
}

.hide {
    display: none;
}

.product__card--col .paper {
    padding: 0;
}

.col_wrapper_inner--three {
    padding: 0 1.66%;
    width: 50%;
}

.product__card--col:hover .product-modal {
    top: 20%;
}

.product__card--col:hover {
    border: 1px solid transparent;
}

.f-r {
    margin-bottom: 45px;
}

.product__card--col .badge__new {
    height: 14px;
    width: 26px;
    font-size: 8px;
    font-weight: 600;
}

.product_c_f_R:first-child, .product__crf:first-child {}

.market__nav-title--green {
    background: #B7B360;
}

.market__nav-title--purple {
    background: #F300E9;
}

.loader {
    height: 100px;
    background: white;
    text-align: center;
    width: 100%;
    padding-top: 50px;
}

.gif__loader {
    vertical-align: middle;
    height: 25px;
    width: 25px;
    margin-right: 22px;
}

section.footer {
    background-color: #414040;
    font-family: Montserrat;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
}

.footer li {
    list-style: none;
    font-size: 12px;
    white-space: nowrap;
    line-height: 22px;
}

.footer-inner li a, .footer-inner li:visited {
    color: white;
    text-decoration: none;
}

.left-space {
    margin-left: 6%;
}

span.ios, span.android {
    margin-top: 5px;
    display: inline-block;
    width: 170px;
    height: 60px;
    background-color: #000;
    border-radius: 4px;
}

.colored-list {
    color: #d8b027;
    font-weight: 600;
}

.copy {
    color: white;
    font-size: 12px;
}

section.footer {
    position: relative;
    background-color: #414040;
    padding: 17px 0;
    overflow: hidden;
}

.follow__p {
    font-size: 12px;
    margin-top: 29px;
    color: #fff;
}

.powered {
    text-align: right;
    margin-top: 33px;
    font-size: 12px;
    color: #fff;
    float: right;
    margin-right: 115px;
}

.logo-by, .icon-small {
    vertical-align: middle;
}

.icon-small {
    margin: 0 7px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact .one, .contact .two {
    line-height: 25px;
}

.one {
    width: 16%;
    align-self: center;
}

.contact p {
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
}

.one p img, .two p img {
    vertical-align: middle;
    margin-left: -2px;
    margin-right: 4px;
}

.two {
    width: 16%;
    align-self: center
}

.three {
    margin-left: 50px;
}

#send {
    padding: 9px;
    border: 0px;
    border-radius: 0 4px 4px 0;
    background-color: #d8b027;
    background-image: url(../img/sent-mail.png);
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana;
    color: transparent;
}

#send {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}

.four {
    white-space: nowrap;
    display: flex;
}

#mail {
    padding: 9.5px;
    width: 250px;
    font-size: 11px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #d8b027;
}

.contact__container {
    padding: 14px 0;
    font-family: "Montserrat";
    background: rgba(243, 243, 243, 0.8);
}

.footer-mark {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .7;
}

.ad-bar, .ad-bar--1280, .ad-bar--840 {
    position: relative;
    display: block;
}

.ad-bar--1280 {
    display: none;
}

.adbar-two, .adbar-three, .adbar-four {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .adbar-one {
        display: none;
    }
    .adbar-two {
        display: block;
    }
}

@media only screen and (max-width: 840px) {
    .adbar-two {
        display: none;
    }
    .adbar-three {
        display: block;
    }
}

@media only screen and (max-width: 560px) {
    .adbar-three {
        display: none;
    }
    .adbar-four {
        display: block;
    }
}

.ad-bar--840 {
    display: none;
}

.ad-bar--560 {
    display: none;
}

.ad-bar__get-started {
    position: absolute;
    top: 50%;
    right: 4.5%;
    transform: translateY(-50%);
    width: 9%;
}

@media only screen and (max-width: 1280px) {
    .ad-bar {
        display: none;
    }
    .ad-bar--1280 {
        display: block;
    }
    .ad-bar__get-started {
        right: 37.5%;
        width: 110px;
    }
}

@media only screen and (max-width: 840px) {
    .ad-bar--1280 {
        display: none;
    }
    .ad-bar--840 {
        display: block;
    }
    .ad-bar__get-started {
        right: 5%;
        width: 110px;
    }
}

@media only screen and (max-width: 560px) {
    .ad-bar--840 {
        display: none;
    }
    .ad-bar--560 {
        display: block;
    }
    .ad-bar__get-started {
        right: 5%;
        width: 110px;
    }
}

.numbers {
    font-size: 12px;
}

.fadeIn {
    -webkit-animation: fadeIn 5s;
    /*Safari4+*/
    -moz-animation: fadeIn .5s;
    /*Fx5+*/
    -o-animation: fadeIn .5s;
    /*Opera12+*/
    animation: fadeIn .5s;
}

.market__roll--wrapper-500 {
    display: none;
}

@media only screen and (max-width: 500px) {
    .market__roll--wrapper-resp {
        display: none;
    }
    .market__roll--wrapper-500 {
        display: block;
    }
}

.custom-select {
    display: none;
}

@media only screen and (max-width: 500px) {
    .custom-select {
        display: block;
    }
}

/* The container must be positioned relative: */

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: #fff;
}

/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 12px;
}

/* style the items (options), including the selected item: */

.select-items div, .select-selected {
    color: #ffffff;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

.select-items div {
    color: #000;
}

.select-items div:first-child {
    border-radius: 4px 4px 0 0;
}

.select-items div:last-child {
    border-radius: 0 0 4px 4px;
}

.select-selected {
    border-radius: 4px;
    background: #E6B712;
}

/* Style items (options): */

.select-items {
    position: absolute;
    background-color: #FFF;
    top: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #CAAA3B;
    color: #fff;
}

.product__see_more {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: rgba(59, 89, 152, 0.8);
    padding: 14px 14px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 7px;
    display: none;
}

.product__see_more--grn {
    background: #B7B360;
}

.product__see_more--pur {
    background: #F300E9;
    margin-top: 22px;
}

@media only screen and (max-width: 500px) {
    .product__see_more {
        display: flex;
    }
}

.product__see_title {
    font-size: 14px;
    color: #fff;
}

.product__icon {
    vertical-align: middle;
}

.product__see_text {
    font-size: 12px;
    color: #fff;
    padding-top: 5px;
}

.product__see_more-link:link, .product__see_more-link:visited {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.close_mega_menu {
    position: absolute;
    top: 32px;
    right: 16px;
    width: 20px;
}