* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    background-color: #ffffff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 300;
}

.clearfix {
    zoom: 1
}

aside {
    position: relative;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 90%;
    margin: 0 auto;
}

/* Header css rules */

header {
    position: relative;
}

.header__top-container {
    position: fixed;
    width: 100%;
    z-index: 30;
    background: white;
}

nav {
    height: 100px;
    width: 100%;
}

.header__logo {
    height: 90px;
    width: 90px;
}

.header__form-input {
    padding: 8px 13px;
    border: 1px solid #d8b027;
    border-radius: 4px 0 0 4px;
    width: 304px;
    font-family: "Montserrat";
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}

/* clears the 'X' from Internet Explorer */

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.header__submit {
    padding: 8px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #d8b027;
    background-color: #d8b027;
    background-image: url(../img/search.png);
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}

.header__input-nav {
    float: left;
}

.header__customized-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form-input::placeholder {
    font-family: 'Montserrat';
    font-size: 11px;
    color: #000;
    font-weight: 500;
}

.header__nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__nav-list-container {
    list-style: none;
}

.header__nav-list {
    display: inline-block;
    text-decoration: none;
    margin: 0px 4px;
}

.header__nav-link:link, .header__nav-link:visited {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    margin-right: inherit;
    font-weight: 500;
}

.header__nav-link:hover {
    color: #CAAA3B;
}

.header--outlined {
    border: 1px solid #CAAA3B;
    padding: 8px 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.header--outlined:hover {
    color: white;
    background: #CAAA3B;
}

.header__avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__side-list {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.header__nav__list {
    text-decoration: none;
    font-family: Monserrat;
    padding: 0 17px;
}

.header-nav-icon {
    margin-left: 12px;
}

.greeting {
    font-size: 12px;
    font-weight: 400;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__name {
    color: red;
}

.hero {
    position: relative;
    width: 100%;
    height: 88px;
    background: url(../img/directory/hero_directory.png), rgba(0, 0, 0, .5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__box{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.hero__title{
    color: white;
    font-size: 26px;
}

input:focus {
    outline: none;
}

.greeting--bg {
    color: white
}

.user__name--bg {
    color: white;
}

.header__nav-link--bg:link, .header__nav-link--bg:visited {
    color: #fff;
}

.header__nav-link--bg:hover {
    color: #d8b027;
}

.header--outlined:hover {
    color: white
}

/*style items (options):*/

.header__top-container--shadow {
    background: url(../img/header__bar.jpg);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    background-position: center;
    background-size: cover;
}

.ratings__reviews {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 28px 0;
}

.btn {
    border: 1px solid #CAAA3B;
    height: 35px;
    width: 162px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #000;
    font-weight: 500;
    background: #fff;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background: #CAAA3B;
}

.name__company {
    padding-right: 60px;
}

.name__company h3 {
    font-size: 18px;
    font-weight: 500;
}

.section {
    background: #fafafa;
}

.ratings {
    width: 16px;
    margin: 5px 4px 0 0;
}

.ratin__values {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.rating__num {
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 36px;
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-left: 30px;
}

.review__num {
    font-size: 16px;
    font-weight: 600;
    padding-left: 8px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.company__card-outer {
    width: 53%;
    margin-right: 2%;
}

.company__aside {
    width: 47%;
}

.company__card-wrapper {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 5%;
}

.name__value {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.name__value--top {
    align-items: flex-start;
}

.name__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-inner__title {
    font-weight: 500;
    font-size: 16px;
}

.name__value .card__logo {
    font-weight: 500;
    font-size: 18px;
}

.logo__container {
    width: 25%;
}

.card-inner__label {
    font-size: 13px;
    width: 25%;
    padding-left: 20px;
    font-weight: 600;
    padding-bottom: 7px;
}

.card-inner__value {
    font-size: 13px;
    font-weight: 500;
    width: 75%;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 7px;
    text-align: justify;
}

.space {
    width: 29%;
    white-space: nowrap;
}

.space__more {
    width: 8%;
    margin-left: -120px;
}

.map {
    overflow: hidden;
    object-position: 100% 100%;
    object-fit: cover;
}

.map-img {
    width: 96%;
}

.slider__container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 2%
}

.sliderContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: -50%;
}

.slider__self-container {
    width: 50%;
}

.slider {
    width: 100%;
    padding: 5%;
}

.previous {
    position: absolute;
    top: 45%;
    left: 0%;
    height: 30px;
    cursor: pointer;
    z-index: 5;
}

.next {
    position: absolute;
    top: 45%;
    cursor: pointer;
    right: 0;
    height: 30px;
    z-index: 5;
}

.social__box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.social {
    margin-right: 12px;
}

.social__link {
    display: flex;
    align-items: center;
}

.rating__num--adjusted {
    margin-left: 0;
    height: 40px;
}

.reviews__title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

.btn--gold {
    color: white;
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
}

.btn--gold:hover {
    color: white;
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
}

.review__header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 41%;
}

.review__lower-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.review__rating {
    margin-left: 9px;
}

.review__text-num {
    font-size: 16px;
    display: block;
    margin-top: -7px;
    font-weight: 500;
}

.review__box {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    width: 41%;
    margin-top: 32px;
    padding: 1%;
}

.review__box-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rating__num--boxed {
    margin-left: 5px;
}

.rate__stars {
    margin-top: 4px;
    margin-left: 9px;
}

.review__box-header-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
}

.review__date {
    font-size: 14px;
    font-weight: 500;
    padding-right: 7px;
}

.user__reviewed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.review__user-name {
    font-weight: 500;
    margin-bottom: 9px;
    font-size: 14px;
}

.user__reviewed {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.review__per-user {
    padding-bottom: 32px;
}

.user__avatar {
    margin: 0 7px 9px 9px;
}

.review__content {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 16px;
    line-height: 24px;
}

.review__btn {
    margin-left: 7px;
    font-weight: 500;
}

button:hover {
    outline: none;
}

.related__review {
    font-size: 18px;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 12px;
}

.info-cards__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 32px 0;
}

.info-card__container {
    width: 32%;
    text-align: center;
    padding-bottom: 25px;
}

.info-card__content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    flex-direction: row;
    font-size: 13px;
}

.info-card__content, .info-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

img.info-card__icon {
    margin-right: 5px;
    width: 14px;
}

.info-card__icon--left-space {
    margin-left: 10px;
}

.info-card__icon--align {
    vertical-align: middle;
}

.info-card__upper-section p {
    padding: 0 10% 18px 10%;
}

.info-card__upper-section p {
    width: 100%;
}

.info-card__logo {
    margin: 8px 0 15px 0;
}

.info-card__title {
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
}

.info-card__logo {
    margin-top: 16px;
}


.info-card__upper-section {
    width: 100%;
    border-bottom: 1px solid rgba(202, 170, 59, 0.53);
}

.info-card__lower-section {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 17px;
}

.info-card__lower-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.info-card__phone {
    font-size: 14px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 19px rgba(202, 170, 59, 0.14);
    border-radius: 4px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

section.footer {
    background-color: #414040;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
}

.footer li {
    list-style: none;
    font-size: 12px;
    white-space: nowrap;
    line-height: 22px;
}

.footer-inner li a, .footer-inner li:visited {
    color: white;
    text-decoration: none;
}

.left-space {
    margin-left: 6%;
}

span.ios, span.android {
    margin-top: 5px;
    display: inline-block;
    width: 170px;
    height: 60px;
    background-color: #000;
    border-radius: 4px;
}

.colored-list {
    color: #d8b027;
}

.copy {
    color: white;
    font-size: 12px;
}

section.footer {
    position: relative;
    background-color: #414040;
    padding: 17px 0;
    overflow: hidden;
}

.follow__p {
    font-size: 12px;
    margin-top: 29px;
    color: #fff;
}

.powered {
    text-align: right;
    margin-top: 33px;
    font-size: 12px;
    color: #fff;
    float: right;
    margin-right: 115px;
}

.logo-by, .icon-small {
    vertical-align: middle;
}

.icon-small {
    margin: 0 7px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    width: 100%;
}

.contact .one, .contact .two {
    line-height: 25px;
}

.one {
    width: 16%;
    align-self: center;
}

.contact p {
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
}

p img {
    vertical-align: middle;
    margin-left: -2px;
    margin-right: 4px;
}

.two {
    width: 16%;
    align-self: center
}

.three {
    margin-left: 50px;
}

#send {
    padding: 11px;
    border: 0px;
    border-radius: 0 4px 4px 0;
    background-color: #d8b027;
    background-image: url(../img/sent-mail.png);
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}

.four {
    white-space: nowrap;
}

#mail {
    padding: 10px;
    width: 250px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #d8b027;
}

.contact__container {
    padding: 14px 0;
    background: rgba(243, 243, 243, 0.8);
}

.yb {
    height: 116px;
    width: 288px;
    right: -10px;
    bottom: -10px;
    position: absolute;
    z-index: 99;
}

.by {
    height: 116px;
    width: 288px;
    right: -105px;
    bottom: 10px;
    z-index: 1;
    transform: rotate(90deg);
    position: absolute;
}

.social {
    font-size: 13px;
    font-weight: 500;
}

.first-star-rating{
    margin-top: 4px;
}

.mobile-app{
    display: flex;
}