/*Generic Css rules */

@font-face {
    font-family: 'Coolvetica';
    src: url('../../vendor/fonts/coolvetica.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    background-color: #ffffff;
    color: #000;
    font-family: 'Segoe UI', sans-serif;
    font-size: 10px;
    font-weight: 300;
}

.clearfix {
    zoom: 1
}

aside {
    position: relative;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 90%;
    margin: 0 auto;
}

/* Header css rules */

header {
    position: relative;
}

.header__top-container {
    position: fixed;
    width: 100%;
    z-index: 30;
    background: white;
}

.header__top-container--shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

nav {
    height: 100px;
    width: 100%;
}

.header__logo {
    height: 90px;
    width: 90px;
}

.header__form-input {
    padding: 8px;
    border: 1px solid #d8b027;
    border-radius: 4px 0 0 4px;
    width: 304px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}

.header__submit {
    padding: 8px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #d8b027;
    background-color: #d8b027;
    background-image: url(../img/search.png);
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}

.header__input-nav {
    float: left;
}

.header__customized-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form-input::placeholder {
    font-family: 'Montserrat';
    font-size: 11px;
    color: #000;
    font-weight: 500;
}

.header__nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__nav-list-container {
    list-style: none;
}

.header__nav-list {
    display: inline-block;
    text-decoration: none;
    margin: 0px 4px;
}

.header__nav-link:link, .header__nav-link:visited {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    margin-right: inherit;
    font-weight: 500;
}

.header__nav-link:hover {
    color: #CAAA3B;
}

.header--outlined {
    border: 1px solid #CAAA3B;
    padding: 8px 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.header--outlined:hover {
    color: white;
    background: #CAAA3B;
}

.header__avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__side-list {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.header__nav__list {
    text-decoration: none;
    font-family: Monserrat;
    padding: 0 17px;
}

.header-nav-icon {
    margin-left: 12px;
}

.header__username {
    color: red;
}

.header__greeting {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
}

.header__full-nav-list:hover .dropdown__header, .header__full-nav-link:hover .dropdown__header {
    display: block;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.header__full-nav {
    list-style: none;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__full-nav-list {
    padding: 30px 0;
}

.header__full-nav-link:link, .header__full-nav-link:visited {
    text-decoration: none;
    color: #000;
    padding: 14px 0;
    font-size: 13px;
    font-weight: normal;
    word-spacing: -1px
}

.full--nav {
    position: relative;
}

/* drop down css rules */

.dropdown__header {
    padding: 0 15px 26px 15px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
    background: #fff;
    color: black;
    display: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.dropdown__header--phone {
    left: 29%;
}

.dropdown__header--computing {
    left: 39%;
}

.dropdown__header--sport {
    left: 60%
}

.dropdown__header--categories {
    left: 71%
}

.hero {
    position: relative;
    width: 100%;
    height: 420px;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/product-list/product-images/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__text-box {
    font-family: 'Coolvetica';
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #fff;
}

.hero__title {
    font-size: 60px;
}

.hero__text-content {
    font-size: 20px;
}

.btn {
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
    border-radius: 4px;
    padding: 11px 13px;
}

.hero__link-btn {
    margin-top: 14px;
}

.lower-nav__container {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.lower-nav-list__container {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.lower-nav__link:link, .lower-nav__link:visited {
    text-decoration: none;
    font-family: Segoe UI;
    font-Size: 13px;
    font-style: regular;
    color: #000;
    font-weight: 400;
}

.lower-nav__list--crumbs::after {
    content: url(../../resources/img/product-list/front-arrow.svg);
    padding-left: 12px;
    padding-right: 12px;
}

label {
    font-size: 12px;
    color: #333333;
    padding-right: 7px;
    font-weight: 400;
}

.lower-nav__search {
    padding: 7px 7px;
}

.lower-nav {
    height: 60px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.product__section-container {
    display: flex;
}

.product__navigations {
    padding-right: 20px;
}

.outer__product-container {
    width: 78%;
}

.scroll__relative {
    width: 22%;
    margin-bottom: 32px;
}

.scroll__fixed {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
}

.product__container {
    background: #FFFFFF;
    -webkit-box-shadow: -11px 15px 32px -27px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -11px 15px 32px -27px rgba(0, 0, 0, 0.51);
    box-shadow: -11px 15px 32px -27px rgba(0, 0, 0, 0.51);
    width: 100%;
}

.product__title {
    text-align: center;
    padding-top: 24px;
    font-style: Semibold;
    font-size: 18px
}

.product__count {
    text-align: center;
    padding-bottom: 20px;
    font-style: Regular;
    font-size: 14px;
}

.product-list__container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

.product__card {
    position: relative;
    background: white;
    width: 25%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.product__card:hover {
    border: 1px solid #dedede;
    z-index: 3;
    position: relative;
    transform: scale(1.04);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}

.product__card:hover .img__overlay {
    filter: brightness(.4);
    -webkit-filter: brightness(.4);
}

.product-modal {
    display: none;
}

.product__card:hover .product-modal {
    display: flex;
    justify-content: center;
    top: 30%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 7;
}

.product-modal button {
    padding: 7px 13px;
    box-shadow: none;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    border: none;
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

button:focus {
    outline: none;
}

.product-image {
    position: relative;
    height: 60%;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    position: relative;
}

.brand__name {
    font-size: 0.9rem;
    line-height: 2rem;
}

.ratings-numbers {
    display: flex;
    justify-content: space-between;
}

/* .price::before{ */

/* content: '₦';
} */

.price-details {
    display: flex;
    justify-content: space-between;
}

.price, .percentage__off, .full__brand-name {
    font-size: 12px;
    margin: 10px 0;
    color: #000;
    font-weight: 500;
}

.full__brand-name {
    line-height: 1.8rem;
    font-weight: 700;
}

.ratings img:first-child {
    margin-left: -2px;
}

.percentage__off {
    border: 1px solid #CAAA3B;
}

.percentage__off {
    padding: 4px;
    margin-top: 6px;
}

.paper {
    padding: 20px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f3f3f3;
}

.filter__title {
    font-size: 13px;
    font-weight: 600;
}

.filter__category-list {
    list-style: none;
    padding: 4px 0px 6px 14px;
}

.filter__category-link:link, .filter__category-link:visited, .filter__reset-btn {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.filter__category-link:hover, .filter__category-link:active {
    color: #E6B712
}

.filter__category-link::before {
    content: url(../../resources/img/product-list/front-arrow.svg);
    padding-right: 9px;
}

.filter__category-title {
    font-size: 13px;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 5px;
}

.filters__first-nav {
    padding-bottom: 19px;
    /* border-bottom: 2px solid #f3f3f3; */
    margin-bottom: 14px;
}

input[type=checkbox] {
    /* display: inline-table; */
    vertical-align: bottom;
}

form {
    font-size: 13px;
    font-weight: 400;
}

.right {
    /* display: inline-block; */
    float: right;
    padding-right: 9px;
}

.--title {
    font-size: 13px;
    padding-top: 8px;
}

.inset {
    padding-left: 17px;
}

.form__sections {
    border-top: 2px solid #f3f3f3;
    margin-bottom: 25px;
    padding-top: 12px;
}

.form__sections--scroll {
    overflow-y: auto;
    height: 127px;
}

.form__sections--scroll::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

/* Track */

.form__sections--scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

.form__sections--scroll::-webkit-scrollbar-thumb {
    background: #CAAA3B;
}

/* Handle on hover */

.form__sections--scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.spacer {
    padding-bottom: 5px;
}

#form__size-search {
    border: 1px solid #666666;
    padding: 6px;
    width: 100%;
    margin-bottom: 7px;
}

.seller__score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.seller__progress {
    width: 40%;
    height: 20px;
    background: #c4c4c4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.seller__progression {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 4px;
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.seller__progression--four {
    width: 80%;
}

.seller__progression--three {
    width: 60%;
}

.seller__progression--two {
    width: 40%;
}

.seller__progression--one {
    width: 20%;
}

.seller__rate {
    font-size: 10px;
    color: white;
}

.right--adjusted {
    padding-right: 9px;
}

.badge__new-container {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
}

.badge__new {
    height: 20px;
    width: 36px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F30000;
    border-radius: 2px;
    color: white;
}

a:link, a:visited {
    text-decoration: none;
    font-Size: 14px;
    font-style: regular;
    color: #fff;
    font-weight: 400;
}

.search__title {
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
    background: #FCFCFC;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.search__history {
    width: 100%;
}

.search__product-container {
    display: flex;
    align-items: center;
    -webkit-box-shadow: -36px 33px 42px -55px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -36px 33px 42px -55px rgba(0, 0, 0, 0.51);
    box-shadow: -36px 33px 42px -55px rgba(0, 0, 0, 0.51);
    padding: 30px 0;
}

.product__pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 0 25px 25px;
}

.product__pages {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    border: 1px solid #c4c4c4;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 500;
}

.product__pages--active {
    border: 1px solid #CAAA3B;
}

.ellipses {
    border: none;
    font-size: 18px;
    letter-spacing: 4px;
    align-self: center;
}

.title-page__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__title-container {
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.drop-down__content {
    display: flex;
    padding: 9px 17px;
    justify-content: space-around;
}

.drop-drop__list-title {
    color: #000;
    margin: 0;
    font-weight: 500;
}

.drop-down__content li {
    list-style: none;
}

.drop-down__content li a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    white-space: nowrap;
    line-height: 18px;
}

.drop-down__content ul {
    padding-left: 12px;
}

.drop-down__content h4 {
    font-size: 12px;
    padding-top: 7px;
    line-height: 26px;
    white-space: nowrap;
}

.drop-down__column {
    padding: 0px 18px;
}

input:focus {
    outline: none;
}

.hero__content-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero__image-part {
    height: 212px;
    width: 40%;
    background: #CD97CB;
}

.hero__text-part {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text-title {
    font-family: Coolvetica;
    font-size: 48px;
    letter-spacing: 5px;
    font-weight: 400;
    position: relative;
}

.hero__text-content {
    font-size: 24px;
    font-weight: 300;
}

.hero__first-image {
    position: relative;
    top: 5%;
    left: 25%;
}

.hero__second-image {
    height: 130px;
    position: relative;
    top: -8%;
    opacity: .5;
    left: 23%;
}

.hero__third-image {
    height: 101px;
    position: relative;
    top: -17%;
    opacity: 0.4;
    left: 22%;
}

.price__categories {
    font-size: 12px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    width: 200px;
    border: 1px solid #DEDEDE;
    ;
    overflow: hidden;
    position: relative;
}

.select {
    width: 120%;
    background-position: 80% center;
}

select {
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.lower-nav__sort-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sort {
    font-size: 14px;
    padding-right: 13px;
}

select:focus {
    outline: none;
}

/*the container must be positioned relative:*/

.custom-select {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    border: 1px solid #DEDEDE;
    ;
}

/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: url(../img/vendor/downarrow.svg);
    top: 10.5%;
    right: 10%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*style the items (options), including the selected item:*/

.select-items div, .select-selected {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/

.select-items {
    position: absolute;
    background-color: #fff;
    top: 98%;
    border: 1px solid #dedede;
    left: 0;
    right: 0;
    z-index: 9;
}

/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #CAAA3B;
    color: white;
}

input[type=checkbox] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #666666;
    padding: 5px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    margin-right: 5px;
}

label {
    position: relative;
    cursor: pointer;
}

input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 3px;
    width: 3px;
    height: 8px;
    border: 1px solid #CAAA3B;
    ;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.search__container {
    position: relative;
}

#form__size-search+img {
    position: absolute;
    top: 22%;
    left: 87%;
}

.increased-font {
    font-size: 12px;
}

.vendor__img {
    height: 50%;
}

section.footer {
    background-color: #414040;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
}

.footer li {
    list-style: none;
    font-size: 12px;
    line-height: 22px;
}

.footer-inner li a, .footer-inner li:visited {
    color: white;
}

.left-space {
    margin-left: 6%;
}

span.ios, span.android {
    margin-top: 5px;
    display: inline-block;
    width: 170px;
    height: 60px;
    background-color: #000;
    border-radius: 4px;
}

.colored-list {
    color: #d8b027;
}

.copy {
    color: white;
    font-size: 12px;
}

section.footer {
    position: relative;
    background-color: #414040;
    padding: 17px 0;
    overflow: hidden;
}

.follow__p {
    font-size: 12px;
    margin-top: 29px;
    color: #fff;
}

.powered {
    text-align: right;
    margin-top: 33px;
    font-size: 12px;
    color: #fff;
    float: right;
    margin-right: 115px;
}

.logo-by, .icon-small {
    vertical-align: middle;
}

.icon-small {
    margin: 0 7px;
}

.range__input {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.range__input input {
    width: 100px;
    margin: 0 5px;
    padding: 7px 14px;
    border: 1px solid #dedede;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.range__input span {
    position: relative;
    left: 7%;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    width: 100%;
}

.contact .one, .contact .two {
    line-height: 25px;
}

.one {
    width: 16%;
    align-self: center;
}

.contact p {
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
}

.one p img, .two p img {
    vertical-align: middle;
    margin-left: -2px;
    margin-right: 4px;
}

.two {
    width: 16%;
    align-self: center
}

.three {
    margin-left: 50px;
}

#send {
    padding: 11px;
    border: 0px;
    border-radius: 0 4px 4px 0;
    background-color: #d8b027;
    background-image: url(../img/sent-mail.png);
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}

.four {
    white-space: nowrap;
}

#mail {
    padding: 9.5px;
    width: 250px;
    font-size: 11px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #d8b027;
}

.contact__container {
    padding: 14px 0;
    background: rgba(243, 243, 243, 0.8);
}

.plus__discount, .plus__material, .plus__ratings, .plus__score, .plus__brand, .plus__price, .plus__colour, .plus__size, .plus__ship {
    display: none;
}

.minus__discount, .plus__discount, .minus__material, .plus__material, .minus__ratings, .plus__ratings, .minus__score, .plus__score, .minus__brand, .plus__brand, .minus__price, .plus__price, .minus__colour, .plus__colour, .minus__size, .plus__size, .minus__ship, .plus__ship {
    cursor: pointer;
}

.yb {
    height: 116px;
    width: 288px;
    right: -10px;
    bottom: -10px;
    position: absolute;
    z-index: 99;
}

.by {
    height: 116px;
    width: 288px;
    right: -105px;
    bottom: 10px;
    z-index: 1;
    transform: rotate(90deg);
    position: absolute;
}